@import url('https://fonts.cdnfonts.com/css/helvetica-lt-narrow');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --white: hsla(0, 0%, 100%, 1);
  --img-bg: hsla(0, 0%, 95%, 1);
  --toggle: hsl(0, 0%, 80%);
  --hover: hsla(0, 0%, 65%, 1);
  --inactive: hsla(0, 0%, 45%, 1);
  --active: hsla(0, 0%, 0%, 1);
  --disabled: hsl(0, 100%, 70%);
}

body {
  font-family: 'Helvetica LT Narrow', sans-serif;
  font-size: 18px;
}

h1 {
  display: inline-block;
  font-size: clamp(40px, 4.4vw, 64px);
  font-weight: normal;
  line-height: 100%;
  margin-left: 157px;
}

img,
svg {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

ul,
li {
  line-height: 110%;
  list-style: none;
}

/* Navbar */

.primary-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 136px;

  & ul {
    display: flex;
    gap: 24px;
  }
}

/* Container */

.container {
  max-width: 1920px;
  margin: auto;
  padding: 18px 24px;
}

/* Content */

.content {
  display: grid;
  grid-template-columns: 224px 1fr;
}

.header {
  display: flex;
  align-items: flex-end;
}

/* Shoe container */

.shoe-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 40px;
}

/* Filter container */

.hide-filter {
  line-height: 110%;
  padding-bottom: 8px;
  text-decoration: underline;
}

.filter-list div {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & span {
    margin-right: 10px;
  }
}

.list-spacing {
  margin: 16px 0;

  & li {
    text-transform: uppercase;
  }
}

.list-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 0;
}

/* Hover effects for list */

.list-items li:hover {
  color: var(--hover);
  cursor: pointer;
}

.hide-filter:hover {
  color: var(--hover);
  cursor: pointer;
}

.brand-ul:hover {
  color: var(--hover);
  cursor: pointer;
}

.clear:hover {
  color: var(--hover);
  cursor: pointer;
}

.on {
  text-decoration: underline;
  color: var(--active);
}

.off {
  color: var(--inactive);
}

/* Components */

.brand {
  font-size: 32px;
  text-transform: uppercase;
}

.shoe-bg {
  background-color: var(--img-bg);
  margin-bottom: 8px;
  transition: transform 0.3s;
}

.shoe-bg:hover {
  transform: scale(0.97);
}

/* Active classes */

.content.active {
  grid-template-columns: 1fr;
}

@keyframes slide {
  from {
    opacity: 0.1;
    transform: translateX(224px);
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.content.active {
  animation: slide 1.2s ease-out 0s 1 none;
}

.hamburger {
  cursor: pointer;
  display: none;
}

@media (width < 1000px) {
  /* Navbar */

  body.active {
    padding-top: 450px;
  }

  .wrap {
    display: none;
  }

  .wrap.active {
    display: flex;
    padding: min(20rem, 5vh) 2rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    inset: 0 30% 0 0;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 99;
  }

  .primary-nav.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .primary-nav.active ul {
    flex-direction: column;
  }

  .primary-nav.active li {
    color: var(--toggle);
  }

  .brand.active {
    margin: 30px 0;
    color: var(--toggle);
  }

  .hamburger {
    display: block;
    margin: 0 0 20px 0;
  }

  .hamburger.active {
    position: fixed;
    z-index: 99;
    top: 18px;
    right: 24px;
  }

  /* Text + container */

  h1 {
    margin-left: auto;
  }

  .shoe-container {
    grid-template-columns: repeat(2, 1fr);
  }

  @keyframes slide {
    from {
      opacity: 0.1;
      transform: translateY(100px);
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@media (width < 600px) {
  .content {
    grid-template-columns: 1fr;
  }

  .shoe-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .shoe-bg {
    aspect-ratio: unset;
  }
}
